     /* Achtergrondafbeelding instellingen */
     .bg-image {
        background-image: url("img/papers.co-mf29-cosmos-red-night-live-lake-space-starry-25-wallpaper.jpg");
        background-size: cover; /* Zorgt ervoor dat de afbeelding de hele achtergrond bedekt */
        background-position: center; /* Positioneert de afbeelding in het midden */
        min-height: 100vh; /* Zorgt ervoor dat het gedeelte de volledige hoogte van het scherm heeft */
        position: relative; /* Zorg ervoor dat de z-index werkt */
        z-index: 1; /* Zet de achtergrondafbeelding op een lagere laag */
      }

      /* Overlay voor betere leesbaarheid */
      .overlay {
        position: absolute; /* Absoluut positioneren ten opzichte van de bg-image */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(
          0,
          0,
          0,
          0.5
        ); /* Donkere overlay voor beter contrast */
        z-index: 2; /* Overlay heeft een hogere z-index dan de achtergrond */
      }

      /* Inhoud boven de overlay */
      .content {
        position: relative; /* Dit zorgt ervoor dat de inhoud boven de overlay staat */
        z-index: 3; /* Inhoud heeft de hoogste z-index */
        color: white; /* Witte tekstkleur */
        padding: 20px; /* Ruimte rond de tekst */
      }

      .intro {
        margin-top: 150px;
      }

      .socials {
        margin-left: 100px;
      }

      .accordion {
        --bs-accordion-color: var(--bs-body-color);
        --bs-accordion-bg: black;
        --bs-accordion-transition: color 0.15s ease-in-out,
          background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out, border-radius 0.15s ease-in-out;

        --bs-accordion-border-color: #dc3545;
        --bs-accordion-border-width: var(--bs-border-width);
        --bs-accordion-border-radius: var(--bs-border-radius);

        --bs-accordion-inner-border-radius: calc(
          var(--bs-border-radius) - (var(--bs-border-width) * 2)
        );
        --bs-accordion-btn-padding-x: 1.25rem;
        --bs-accordion-btn-padding-y: 1rem;
      }
      .text-danger {
  color: #c61a09 !important;
}

.modal-backdrop {
    z-index: -1020;
  }